{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
  {% for news in news | slice (1, 6) %}
      <br/>
      <div id="title">
          <img src="{{news.srcImageFile}}" height="100" width="300" />
 <a href="{{news.articleURL}}">{{news.title}}</a>
 <div/>
      {% endfor %}
{% endblock %}
